@font-face {
    font-family: NewComputerModernMath;
    src: url("/font/math.OTF");
}

mtable {
    math-style: normal;
}

mtd:nth-child(2)[equ="true"] {
    text-align: -webkit-right;
}

mtd:nth-child(4)[equ="true"] {
    text-align: -webkit-left;
}

#center {
    text-align: center;
}

math {
    font-family: NewComputerModernMath;
}


